@model CustomerManagementSystem.ViewModels.InvoiceDisplay

@{
    ViewBag.Title = "AddInvoice";
}

<h2>Choose your customer.</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <!-- Get the business number from the URL and display it as readonly  "Business Number: # (Business Name here)" -->
        <p>Business Number: #@Html.DisplayFor(model => model.BusinessNumber) (@Html.DisplayFor(model => model.BusinessName))</p>
        <p>
            <a href="@Url.Action("AddCustomer/" + @Model.BusinessNumber, "BusinessAccount")" class="">Add a new customer</a>
        </p>
        <p>OR</p>
        <p>Returning Customer?</p>
        <select name="CustomerNumber" id="item-list">
            @foreach (var item in Model.Customers)
            {
                <option value="@item.CustomerId">@item.CustomerName</option>
            }
        </select>

        <p>-------------------------------------------------------------------</p>

        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
