@model IEnumerable<CustomerManagementSystem.Models.BusinessAccount>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
    var userID = ViewBag.userId;
}

<h2 id="business-edit-title">Select a business to manage.</h2>

<a href="@Url.Action("Create", "BusinessAccount")"><p>Add a new business</p></a>

<section id="business-list">
    <!-- <p id="userId">Your userID is: @userID</p> -->
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div class="business">
                <p class="options">
                    <a href="@Url.Action("Edit/" + @item.BusinessNumber, "BusinessAccount")" class="select">Edit Business Details</a>
                    <a href="@Url.Action("Manage/" + @item.BusinessNumber, "BusinessAccount")" class="select">Manage Invoices</a>
                    <a href="@Url.Action("Delete/" + @item.BusinessNumber, "BusinessAccount")" class="remove">Delete Business</a>
                </p>
                <p class="business-title">
                    @Html.DisplayFor(modelItem => item.BusinessName)
                </p>
                <p>
                    ABN: 
                    @Html.DisplayFor(modelItem => item.ABN)
                </p>
                <p>
                    <i class="fa fa-user" aria-hidden="true"></i> 
                    @Html.DisplayFor(modelItem => item.BusinessOwner)
                </p>
                <p>
                    <i class="fa fa-phone-square" aria-hidden="true"></i> 
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </p>
                <p>
                    <i class="fa fa-envelope" aria-hidden="true"></i> 
                    @Html.DisplayFor(modelItem => item.Email)
                </p>
                <p>
                    <i class="fa fa-external-link-square" aria-hidden="true"></i> 
                    <a href="@item.Website">@Html.DisplayFor(modelItem => item.Website)</a>
                </p>
            </div>
        }
    }
    
    @if(Model.Count() == 0)
    {
        <h2>You do not currently have any businesses. Add one above.</h2>
    }
</section>
