@model IEnumerable<CustomerManagementSystem.Models.Invoice>

@{
    /**/

    ViewBag.Title = "Manage";
    var businessNumber = ViewBag.BusinessNumber;
}

<h2>Manage</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (Model != null && Model.Count() != 0)
    {
        <div class="business">
            <p class="options">
                <a href="@Url.Action("Edit/" + @Model.First().BusinessNumber, "BusinessAccount")" class="select">Edit Business Details</a>
                <a href="@Url.Action("Manage/" + @Model.First().BusinessNumber, "BusinessAccount")" class="select">Manage Invoices</a>
                <a href="@Url.Action("Delete/" + @Model.First().BusinessNumber, "BusinessAccount")" class="remove">Delete Business</a>
            </p>
            <p class="business-title">
                @Html.DisplayFor(modelItem => Model.First().BusinessName)
            </p>
            <p>
                ABN:
                @Html.DisplayFor(modelItem => Model.First().ABN)
            </p>
            <p>
                <i class="fa fa-user" aria-hidden="true"></i>
                @Html.DisplayFor(modelItem => Model.First().BusinessOwner)
            </p>
            <p>
                <i class="fa fa-phone-square" aria-hidden="true"></i>
                @Html.DisplayFor(modelItem => Model.First().PhoneNumber)
            </p>
            <p>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                @Html.DisplayFor(modelItem => Model.First().Email)
            </p>
            <p>
                <i class="fa fa-external-link-square" aria-hidden="true"></i>
                <a href="@Model.First().Website">@Html.DisplayFor(modelItem => Model.First().Website)</a>
            </p>
        </div>

        <hr />

        <!-- Insert Invoice management here-->
        <div id="invoices">
            @Html.ActionLink("Add an invoice", "AddInvoice/" + Model.First().BusinessNumber)
        </div>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerPhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalCost)
                </th>
                <th></th>
            </tr>
            @foreach (var item2 in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item2.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item2.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item2.CustomerAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item2.CustomerPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item2.CustomerEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item2.Notes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item2.TotalCost)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item2.InvoiceNumber }) |
                        @Html.ActionLink("Details", "Details", new { id = item2.InvoiceNumber }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item2.InvoiceNumber })
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <h3>You do not have any invoices.</h3>
        <!-- Insert Invoice management here-->
        <a href="@Url.Action("AddInvoice/" + businessNumber, "BusinessAccount")">Add an invoice.</a>
    }
}

<hr />

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
