@model IEnumerable<CustomerManagementSystem.Models.BusinessAccount>

@{
    /**/

    ViewBag.Title = "Manage";
}

<h2>Manage</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    if (Model != null)
    {
        foreach (var item in Model)
        {
            <div class="business">
                <p class="options">
                    <a href="@Url.Action("Edit/"+ @item.BusinessNumber, "BusinessAccount")" class="select">Edit Business Details</a>
                    <a href="@Url.Action("Manage/"+ @item.BusinessNumber, "BusinessAccount")" class="select">Manage Invoices</a>
                    <a href="@Url.Action("Delete/"+ @item.BusinessNumber, "BusinessAccount")" class="remove">Delete Business</a>
                </p>
                <p class="business-title">
                    @Html.DisplayFor(modelItem => item.BusinessName)
                </p>
                <p>
                    ABN:
                    @Html.DisplayFor(modelItem => item.ABN)
                </p>
                <p>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    @Html.DisplayFor(modelItem => item.BusinessOwner)
                </p>
                <p>
                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </p>
                <p>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    @Html.DisplayFor(modelItem => item.Email)
                </p>
                <p>
                    <i class="fa fa-external-link-square" aria-hidden="true"></i>
                    <a href="@item.Website">@Html.DisplayFor(modelItem => item.Website)</a>
                </p>
            </div>

            <hr />

            <!-- Insert Invoice management here-->
            <div id="invoices">
                @Html.ActionLink("Add an invoice", "AddInvoice/" + item.BusinessNumber)
            </div>
        }
    }
}

<hr />

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
